* {
    font-family: 'Courier New', Courier, monospace;
    color: #fffffe;
    background-color: #232946;
}

.header h1 {
    color: #fffffe;
    text-align: center;
    font-size: 48px;
}

.main p {
    color: #b8c1ec;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
